<div id="<%= dom_id animal_placement %>">
  <p>
    <strong>Room:</strong>
    <%= animal_placement.room %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= animal_placement.location %>
  </p>

</div>
