<div id="<%= dom_id payment %>">
  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Paymentmethod:</strong>
    <%= payment.paymentmethod %>
  </p>

  <p>
    <strong>Paymentdate:</strong>
    <%= payment.paymentdate %>
  </p>

</div>
