<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Numberofvisitor:</strong>
    <%= appointment.numberofvisitor %>
  </p>

</div>
