<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Appointment</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to appointments_path, class: button_class(theme: "transparent") do %>
      All Appointments
      <% end %>
      <%= link_to edit_appointment_path(@appointment), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @appointment.date %></p>
      </li>
      <li>
        <p class="font-semibold">Numberofvisitor:</p>
        <p><%= @appointment.numberofvisitor %></p>
      </li>
  </ul>
</div>
